{% extends 'base.html.twig' %}

{% block title %}AvisProduit{% endblock %}

{% block body %}
    <h1>AvisProduit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avis_produit.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ avis_produit.contenu }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ avis_produit.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_produit_index') }}">back to list</a>

    <a href="{{ path('app_avis_produit_edit', {'id': avis_produit.id}) }}">edit</a>

    {{ include('avis_produit.html.twig/_delete_form.html.twig') }}
{% endblock %}
