{% extends 'base.html.twig' %}

{% block title %}QuizParticipants index{% endblock %}

{% block content %}
    <div class="flex flex-col gap-8">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white">Liste des Quiz</h2>

        <div class="inline-flex flex-wrap gap-4">
            {% set passedQuizIds = passedQuizzes|map(q => q.id) %}
            {% for quiz in quizzes %}
                {% if quiz.disponibilitee == 1 and quiz.questions | length > 0 %}
                    <div style="width: 350px"
                         class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ quiz.matiere }}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            <span>Createur: </span> {{ quiz.createur ? quiz.createur.nom ~ " " ~ quiz.createur.prenom : 'Anonyme' }}
                        </p>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                            <span>Date: </span> {{ quiz.dateCreation|date('d/m/Y') }}
                        </p>
                        {% if quiz.id in passedQuizIds %}
                            <div class="inline-flex items-center justify-between w-full">
                                <button disabled
                                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-400 rounded-lg cursor-not-allowed">
                                    Quiz passé
                                </button>
                                <h4 class="mt-2 text-sm font-medium text-center text-gray-700 dark:text-gray-400">
                                    Note: {{ quizParticipants|filter(qp => qp.quiz.id == quiz.id)[0].score }}
                                </h4>
                            </div>
                        {% else %}
                            <a href="{{ path('app_quizparticipants_passerquiz', {'id': quiz.id}) }}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Passer le quiz

                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"
                                          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
