{% extends 'adminBase.html.twig' %}

{% block content %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="inline-flex w-full py-3 justify-between">
            <div class="inline-flex items-center gap-5 w-[500px]">
                <h3 class="text-xl mb-3 font-semibold text-gray-900 dark:text-white">Liste des Questions</h3>
                <input
                        id="search-input"
                        type="text"
                        class=" w-1/2 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                        placeholder="Recherche">
            </div>
            <a href="{{ path('app_question_new') }}"
               class="inline-flex items-center justify-center px-4 py-2 ml-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                Ajouter une Question
            </a>
        </div>
        <table id="question-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Question
                </th>
                <th scope="col" class="px-6 py-3">
                    Choix
                </th>
                <th scope="col" class="px-6 py-3">
                    Reponse Correcte
                </th>
                <th scope="col" class="px-6 py-3">
                    Score
                </th>
                <th scope="col" class="px-6 py-3">
                    Quiz
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ question.titre }}
                    </td>
                    <td class="px-6 py-4">
                        {{ question.choix1 }} - {{ question.choix2 }} - {{ question.choix3 }}
                    </td>
                    <td class="px-6 py-4">
                        {{ question.reponseCorrecte }}
                        (
                        {% if question.reponseCorrecte == 1 %}{{ question.choix1 }}
                        {% elseif question.reponseCorrecte == 2 %}{{ question.choix2 }}
                        {% else %}{{ question.choix3 }}{% endif %}
                        )
                    </td>
                    <td class="px-6 py-4">
                        {{ question.score }} pt
                    </td>
                    <td class="px-6 py-4">
                        {{ question.quiz ? question.quiz.code : 'No Quiz' }}
                    </td>
                    <td class="px-6 py-4">
                        <div class="inline-flex items-center self-end gap-3">
                            <a href="{{ path('app_question_edit', {'id': question.id}) }}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Modifier</a>
                            <a href="{{ path('app_question_delete', {'id': question.id}) }}"
                               class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% block javascripts %}
        <script>
            document.querySelector('#search-input').addEventListener('input', function (e) {
                var query = e.target.value.toLowerCase();
                var rows = document.querySelectorAll('#question-table tbody tr');

                rows.forEach(function (row) {
                    var rowText = row.textContent.toLowerCase();

                    // remove Modifier Supprimer
                    rowText = rowText.replace('modifier', '');
                    rowText = rowText.replace('supprimer', '');

                    console.log(rowText);
                    if (rowText.includes(query)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        </script>
    {% endblock %}
{% endblock %}
